@use '../Abstracts/variables';

.educacion_container{
    background-color: variables.$color5;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    color: variables.$color1;
    h3{
        font-size: 1.5rem;
        letter-spacing: .09rem;
        font-weight: 500;
        margin: 20px 30px;
    }
    .educacion_inner-container{
        margin: 0 30px;
        .educacion_card-container{
            background-color: variables.$color4;
            border-radius: 5px;
            margin: 15px 0;
            padding: 20px 0 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h3{
                font-size: 1.3rem;
                letter-spacing: .02rem;
                margin: 0;
                color: variables.$color1;
            }
            p{
                font-size: 1rem;
                font-weight: 300;
                margin: 3px 0;
                color: variables.$color1;
            }
        }
    }
}