@use '../Abstracts/variables';

.home_container{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 50px;
    gap: 10px;
    .home_inner-container{
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
    }
}
