@use '../Abstracts/variables';

.perfil_container{
    color: variables.$color1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 380px;
    .imgProfile{
        width: 300px;
        border-radius: 100%;
    }
    h2{
        font-size: 2rem;
        margin: 10px 0;
        letter-spacing: .1rem;
    }
    p{
        font-size: 1.1rem;
        margin: 0 0 10px 0;
        max-width: 300px;
        text-align: center;
        line-height: 1.4rem;
        font-weight: 300;
        letter-spacing: .03rem;
    }
    .perfil_container-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 300px;
        .fa-brands{
            font-size: 2.5rem;
            margin: 0 10px;
        }
    }
}