@use '../Abstracts/variables';

.tecnologias_container{
    background-color: variables.$color2;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    color: variables.$color1;
    h3{
        color: variables.$color5;
        font-size: 1.5rem;
        margin: 20px 30px;
    }
    .tecnologias_inner-container{
        margin: 0px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        // background-color: white;
            .tecnologias_icon{
                font-size: 2.7rem;
                color: variables.$color5;
            }
    }
}