@use '../Abstracts/variables';

.trabajos_container{
    width: 80%;
    margin: 0 auto 50px auto;
    .trabajos_titulo{
        text-align: center;
        color: variables.$color1;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: .2rem;
        margin: 40px 0;
    }
    .trabajos_inner-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .trabajo_card{
            background-color: white;            
            border-radius: 5px;
            position: relative;
            width: 400px;
            .img_card{
                max-width: 100%;
                width: 400px;
                height: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
            .prueba{
                border-radius: 5px;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: transparent;
                &:hover{
                    background-color: #06121bb4;
                    color: variables.$color1;
                    font-size: 1.8rem;
                    font-weight: 600;
                    letter-spacing: .2rem;
                }
            }
            
        }
    }
}